a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Monoton&display=swap');

html {
  font-size:62.5%;
  font-family: 'Lato', sans-serif; 
  color:white;
  background-color:black;
}
a {
  text-decoration:none;
  color:black;
}
form {
  margin:25px 0;
}
h1,
.aggregate  {
  font-size:6.0rem;
  letter-spacing:1rem;
  color:white;
}
h1 {
  font-family: 'Monoton', cursive;
}
.aggregate {
  font-weight:700;
}
h2 {
  font-size:3.0rem;
}
header{
  padding-top:20px;
}
li {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
p {
  font-size: 2.0rem;
}
span {
  font-size:1.5rem;
  letter-spacing:0.5rem;
}
/* Wrappers */
.App {
  text-align: center;
}
.wrapper {
  margin:0 auto;
  text-align:center;
}
.ratingWrapper,
.popularityWrapper,
.headerLogo {
  display:grid;
  align-items: center;
}
.ratingWrapper {
  grid-template-columns: 2fr 2fr 1fr;
}
.popularityWrapper {
  grid-template-columns: 1fr 1fr;
  font-size:2.0rem;
  color:grey;
}
.headerLogo {
  display:grid;
}
/* Header */
.headerLogo img {
  margin:0 auto;
}
.diyLogoTop {
  animation: explosion 10s infinite ease-out; 
}
@keyframes explosion {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.headerGlow {
  animation: lightsaber 2s ease-in-out infinite alternate;
}
@keyframes lightsaber {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177;
  }
}
.Toastify__toast--error {
  font-size:3rem;
  margin-top:80%;
  background-color:#ff1177;
  color:black;
  text-align:center;
  border:1px solid black;
}
/* Search Bar */
input {
  width:50%;
  font-size:3.0rem;
  max-width:1000px;
}
button {
  font-size:3.0rem;
  background-color:white;
  height:100%;
  border:3px solid grey;
}
button:hover{
  border:3px solid #ff1177;
}
/* Search Results */
.movieResults {
  display:grid;
  width:80%;
  margin:25px auto;
  grid-template-columns: 1fr;
  grid-gap:50px;
  max-width:1400px;
}
.movieEach {
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgb(31, 31, 31);
  padding-right: 50px;
  transition: all 0.5s linear;
}
.movieEach:hover {
  scale:1.1;
}
.movieEach h2 {
  padding-top:15px;
}
.genreType {
  padding:10px 0;
  color:grey;
}

/* Ratings */
.rating meter {
  width:100%;
  background-color:white;
}
.ratingScore,
.popularityScore,
.ratingNegative {
  text-align:right;
  font-weight:700;
}
.ratingScore {
  font-size:3.0rem
}
h5,
.ratingNegative {
  font-size:2.0rem;
}
.ratingNegative,
.popularityScore {
  color:grey;
} 

/* Aggregate Score Style */
.aggregate {
  text-align:center;
}
.aggregate h2 {
  font-size:6.0rem;
}
.green {
  color:rgb(25, 206, 25);
}
.orange {
  color:rgb(238, 241, 33);
}
.red {
  color:red;
}

/* Footer Styles */
footer {
  padding:25px 0;
  background-color:rgb(31, 31, 31);
  color:white;
}
footer a {
  color:white;
}
footer p:nth-child(2) {
  font-size:1.5rem;
  margin-top:15px;
}

/* Responsive Tablet */
@media (max-width: 1400px){
  .imageResult {
    width:350px;
  }
}
@media (max-width: 1000px){
  .imageResult {
    width:300px;
  }
  .movieEach {
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
  }
}
@media (max-width:850px){
  .imageResult {
    position:absolute;
    opacity:0.25;
    width:150px;
    right:2.5%;
    top:2.5%;
  }
    .movieEach {
    grid-template-columns:1fr;
  }
  .headerGlow {
    font-size:5rem;
  }
}
@media (max-width:600px) {
  .headerGlow {
    font-size:4.0rem;
  }
}
